@import "../../../../src/assets/styles/var";

.orderStatus {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  width: 23.985px;
  height: 4.907px;
  background-color: $almost-black;
  border-radius: 11px;
  color: white;
}
.in_moderation {
  border-radius: 11px;
  background-color: $almost-black;
}
.awaiting_payment {
  border-radius: 11px;
  background-color: $brand;
}
.wait_unloading{
  border-radius: 11px;
  background-color: $blue;
}
.in_process {
  border-radius: 11px;
  background-color: $blue;
}
.waitingFor_completion{
  border-radius: 11px;
  background-color: $green;
}