@import "../../../assets/styles/var";

.content {
  overflow-x: auto;
  width: 100%;
  &_scroll {
    min-width: 1700px;
  }
}
.search {
  max-width: 500px;
  margin-bottom: 26px;
}
.footer {
  margin-top: 20px;
  position: relative;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.button_deleteAll {
  border-radius: 12px;
  border: 1.6px solid $gray;
  background-color: $almost-white;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  display: none;
}