$black: #212529;
$black-title: #141619;
$gray-title: #5A5C62;
$brand: #C5115E;
$white: #fff;
$white-smoke: #F4F4F4;
$light-accent: #E0B7C8;
$almost-black: #43454B;
$almost-white: #FAFAFA;
$light-gray-footer: #AEAFB5;
$light-gray: #ECEDEE;
$dark-gray: #909195;
$dark-dark-gray: #909195;
$hover-gray: #323436;
$scrollbar-dark-gray: #252729;
$hr-gray: #ECEDEE;
$gray: #DDDEE2;
$blue: #3A50C6;
$yellow: #FBC334;
$light-blue: #61B0E4;
$green: #40AD45;
$hover: #198754;
$defaultFontFamily: "Inter", sans-serifF